/.idea/
/out/
/src/de/telran/d220920/HomeWork/Stack/
/src/de/telran/d220927/Homework/Crossword.java
/src/de/telran/d220927/Homework/TaskShort2join.java
/telran-algorithmic.iml
/src/de/telran/d220927/Homework/MergeSort.java
